/* variables */

:root {
    --color-top: #f4eee7;
    --background-middle: #fcfbf8;
    --color-bottom: #3d3b39;
}

/* General settings */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body { 
    font-family: 'Playfair Display', serif;
    background: var(--color-top);
}

/* Website grid */

#wrapper{
    display: grid;
    grid-template:  4fr / 1fr;
}

/* header */

header{
    position: sticky;
    display: flex;
    min-height: 4rem;
    background-color: var(--color-top);
    align-items: center;
    justify-content: space-between;  
    padding-right: 3%;
}

header > a{
    margin-left: 5%;
    font-size: 2rem;
    font-weight: bold;
}

.hamburger{
    display: none;
}

.menu{
    font-size: 1.2rem;
    font-weight: 400;
}

.menu a{
    margin-right: 0.5rem;
}

.menu a:active{
    text-decoration: none;
}

.menu a:visited{
    text-decoration: underline;
}

/* Main content below header */

.main{ 
    padding-left: 3%;
    padding-right: 1%;
    margin-top: 3rem;
    margin-bottom: 0rem;
    display: grid;
    /*grid-template-areas: 
        "section aside" 
        "article aside";*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr ;
    background: var(--color-top);
}

.main section{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main article{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-right: 2rem;
}

.main aside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
}

section h1{
    font-weight: lighter;
}

.main section h1{
    text-align: left;
    font-size: 4rem;
    margin-right: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

article{
    
}

article p{
    text-align: left;
    margin-top: 2rem;
}

aside img{
    border: solid rgb(77, 6, 77) 0.3rem;
    max-width: 100%;
    margin: auto;
}



nav{
    color: whitesmoke;
    background-color: var(--color-top);
    min-height: calc(100vh - 4rem - 1rem)
}s

footer{
    color: whitesmoke;
    background-color: var(--color-bottom);
}

@media only screen and (max-width: 1024px)  {
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background: var(--color-top);
    }
}

/* Main content below header */

.main{
    padding-left: 3%;
    padding-right: 1%;
    margin-top: 3rem;
    margin-bottom: 0rem;
}


@media only screen and (max-width: 768px)  {
    .hamburger{
        display: block;
        position: relative;
        user-select: none;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }
    
    .hamburger span{
        display: block;
        width: 2rem;
        height: 0.25rem;
        margin-bottom: 0.5rem;
        position: relative;
        background: black;
    }
    
    .hamburger span:last-child{
        margin-bottom: 0;
    }
    
    .menu{
        display: none;
    }
}